@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
body, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
}

ul, li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: white;
}

.container {
  max-width: 1250px;
  margin: 0px auto;
}

.containertwo {
  max-width: 1300px;
  margin: 0px auto;
}

.button-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100px;
  font-size: 19px;
  color: rgb(250, 250, 250);
}

.header {
  max-width: 1195px;
  margin: 0px auto;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 30px;
}
.header__list {
  display: flex;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.header__item {
  margin-right: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100px;
  font-size: 18px;
  color: #544837;
}
.header__btns {
  display: flex;
  justify-content: space-between;
  margin-top: -12px;
  background-color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100px;
  font-size: 18px;
  color: #544837;
}
.header__white {
  width: 112px;
  padding: 16px 1px;
  border-radius: 5px;
  margin-left: 14px;
  border: 1px solid rgb(77, 171, 192);
  margin-right: 14px;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  transition: color 0.3s ease-in-out, 0.3s ease-in-out;
}
.header__white:hover {
  box-shadow: inset 200px 0 0 0 #54b3d6;
}
.header__orange {
  width: 112px;
  padding: 16px 1px;
  border-radius: 5px;
  margin-left: 14px;
  border: 1px solid orange;
  margin-right: 14px;
  box-shadow: inset 0 0 0 0 orange;
  color: orange;
  transition: color 0.3s ease-in-out, 0.3s ease-in-out;
}
.header__orange:hover {
  box-shadow: inset 200px 0 0 0 orange;
}
.header__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100px;
  font-size: 18px;
  color: #544837;
}
.header__link:hover {
  text-shadow: 1px 4px 21px rgba(0, 0, 0, 0.6);
  color: blue;
}
.header__linkble {
  color: black;
}

.burger {
  overflow-x: hidden;
  height: 100%;
}

.burger__header {
  display: none;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: #fcca46;
  position: fixed;
  height: 40px !important;
  overflow: hidden;
  z-index: 10;
}

#sidebarMenu {
  display: none;
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  margin-top: 40px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, #233d4d 0%, #619b8a 100%);
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner li:hover {
  border: inset;
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type=checkbox]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 8px;
  left: 15px;
  height: 22px;
  width: 22px;
  position: fixed;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: rgb(224, 49, 49);
  display: none;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

@media screen and (max-width: 1150px) {
  .header__content {
    display: none;
  }
  .header__item {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .burger {
    display: block;
  }
  #sidebarMenu {
    display: block;
  }
  .spinner {
    display: block;
  }
  .burger__header {
    display: block;
  }
}
.hero {
  padding-left: 80px;
}
.hero__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700px;
  font-size: 45px;
  color: #2F281E;
  max-width: 550px;
  text-shadow: 1px 3px 7px rgb(0, 0, 0);
}
.hero__content {
  display: flex;
  padding-top: 5%;
}
.hero__des {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100px;
  font-size: 18px;
  color: #544837;
  max-width: 400px;
  margin-top: 36px;
}
.hero__btn {
  border-radius: 5px;
  padding: 14px 20px;
  background-color: orange;
  border: 1px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.hero__btn:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.5em);
}
.hero__start {
  color: white;
}
.hero__box-img {
  max-width: 602px;
}
.hero__img {
  margin-right: 20px;
  padding-left: 20px;
}
.hero__text {
  padding-top: 5%;
}
.hero__link {
  max-width: 190px;
}
.hero__footer {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}

@media screen and (max-width: 1002px) {
  .hero {
    margin-top: 30px;
    text-align: center;
    padding-left: 0%;
  }
  .hero__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .hero__box-img {
    margin-top: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero__img {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .hero__text {
    width: 100%;
    text-align: center;
  }
  .hero__img {
    width: 100%;
  }
  .hero__footer {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 30px;
  }
}
.super {
  padding-bottom: 30px;
  background: url(../img/superpower/semi-oval.svg) center center/cover;
}
.super__content {
  position: relative;
  padding-top: 48px;
}
.super__divide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1400px;
}
.super__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300px;
  font-size: 45px;
  color: #2F281E;
  max-width: 700px;
}
.super__boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.super__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200px;
  font-size: 20px;
  color: #2F281E;
  padding-top: 37px;
}
.super__des {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100px;
  font-size: 18px;
  color: #544837;
  width: 230px;
}
.super__icon {
  padding-top: 59px;
}
.super__img {
  max-width: 500px;
  max-width: 100%;
}
.super__btn-content {
  display: flex;
  justify-content: center;
  align-content: center;
}
.super__btn {
  background-color: rgb(255, 153, 0);
  margin-top: 62px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 153, 0);
  -o-border-image: initial;
     border-image: initial;
  padding: 26px 28px;
  transition: 0.3s;
}
.super__btn:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.5em);
}

@media screen and (max-width: 1000px) {
  .super__content {
    background: none;
  }
  .super__img {
    max-width: 500px;
    max-width: 100%;
  }
  .super__boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .super__divide {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .super {
    background: none;
  }
  .super__content {
    text-align: center;
  }
  .super__boxes {
    text-align: center;
  }
  .super__divide {
    text-align: center;
  }
}
.pro {
  margin-top: 196px;
}
.pro__top {
  display: flex;
  justify-content: space-evenly;
}
.pro__middle {
  display: flex;
  justify-content: space-between;
}
.pro__footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 124px;
  padding-left: 200px;
}
.pro__des {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100px;
  font-size: 18px;
  color: #544837;
  max-width: 420px;
}
.pro__text.middle {
  margin-top: 100px;
}
.pro__item {
  display: flex;
}
.pro__icon {
  margin-right: 30px;
}
.pro__li-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100px;
  font-size: 18px;
  color: #544837;
  max-width: 420px;
}
.pro__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300px;
  font-size: 45px;
  color: #2F281E;
  max-width: 700px;
  font-size: 30px;
}
.pro__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200px;
  font-size: 20px;
  color: #2F281E;
}
.pro__img {
  max-width: 592px;
  display: flex;
}

@media screen and (max-width: 1170px) {
  .pro {
    text-align: center;
  }
  .pro__top {
    display: flex;
    flex-wrap: wrap;
  }
  .pro__middle {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
  }
  .pro__footer {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .pro__imgcon {
    max-width: 500px;
    margin-top: 0.7em;
  }
  .pro__img {
    width: 100%;
  }
}
.oval {
  background: url(../img/oval/Oval.png) center center/cover;
  margin-top: 191px;
  padding: 20px;
  border-radius: 20px;
}
.oval__content {
  position: relative;
  margin-top: 240px;
}
.oval__main {
  max-width: 1250px;
  margin: 0 auto;
}
.oval__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.oval__textnicon {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oval__text.icon {
  width: 98px;
  height: 98px;
}
.oval__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300px;
  font-size: 45px;
  color: #2F281E;
  max-width: 700px;
  text-align: center;
}
.oval__des {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100px;
  font-size: 18px;
  color: #544837;
  max-width: 600px;
  text-align: center;
  color: #567592;
}
.oval__btn {
  border-radius: 5px;
  padding: 14px 20px;
  background-color: orange;
  border: 1px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  transition: 0.3s;
}
.oval__btn:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.5em);
}
.oval__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100px;
  font-size: 19px;
  color: rgb(250, 250, 250);
}
.oval__nav {
  max-width: 1300x;
}
.oval__item {
  display: flex;
  justify-content: space-between;
}
.oval__glassesblack {
  margin-top: 147px;
}
.oval__photohoodie {
  text-align: center;
  padding-left: 250px;
}
.oval__textnicon {
  display: flex;
  justify-content: space-between;
}
.oval__text.pitcher {
  margin-right: 150px;
  margin-bottom: 150px;
}
.oval__text.strategist {
  margin-bottom: 300px;
}
.oval__glassesblack {
  display: none;
}
.oval__icon.prototyper {
  position: relative;
  margin-top: 24px;
  cursor: pointer;
}
.oval__icon.prototyper::before {
  content: "us";
  position: absolute;
  background-color: gray;
  padding: 1em 3em;
  color: white;
  border-radius: 5px;
  font-size: 0.8em;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  transform: scale(0);
  transition: 0.3s transform ease-out 150ms, bottom ease-out 150ms;
}
.oval__icon.prototyper::before:hover::after {
  transform: scale(1);
  bottom: 100%;
}
.oval__icon.prototyper::before__icon.definer {
  margin-top: 146px;
}
.oval__icon.prototyper::before__icon.prototyper {
  margin-top: 34px;
}

@media screen and (max-width: 1000px) {
  .oval__btn {
    width: 50wmax;
  }
}
@media screen and (max-width: 1000px) {
  .oval {
    border-radius: 0%;
  }
  .oval__photohoodie {
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media screen and (max-width: 701px) {
  .oval__glassesblack {
    display: block;
    margin-top: 20px;
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .oval__text.pitcher {
    display: none;
  }
  .oval__text.strategist {
    display: none;
  }
  .oval__photohoodie {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
    -moz-columns: 20px;
         columns: 20px;
  }
}
.marketing {
  margin-top: 280px;
}
.marketing__swiper {
  margin-top: 29px;
  display: flex;
  justify-content: center;
}
.marketing__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300px;
  font-size: 45px;
  color: #2F281E;
  max-width: 700px;
  font-size: 30px;
}
.marketing__des {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100px;
  font-size: 18px;
  color: #544837;
  color: #544837;
}
.marketing__author {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100px;
  font-size: 18px;
  color: #544837;
}
.marketing__span {
  color: black;
  font-weight: 200px;
  font-size: 20px;
}
.marketing__info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300px;
  font-size: 45px;
  color: #2F281E;
  max-width: 700px;
  font-size: 25px;
  max-width: 330px;
  transition: 0.3s ease-in-out;
}
.marketing__info:hover {
  color: orange;
}/*# sourceMappingURL=index.css.map */