.hero {
  padding-left: 80px;
  &__title {
    @include title();
    text-shadow: 1px 3px 7px rgba(0, 0, 0);
  }
  &__content {
    display: flex;
    padding-top: 5%;
  }
  &__des {
    @include page();
    max-width: 400px;
    margin-top: 36px;
  }
  &__btn {
    @include btn();
    transition: 0.3s;
    &:hover {
      box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
      transform: translateY(-0.5em);
   
    }
  }
  &__start {
    color: white;
  
  }
  &__box-img { 
    max-width: 602px;
  }
  &__img {
    margin-right: 20px;
    padding-left: 20px;
  }
  &__text {
    padding-top: 5%;
  }
  &__link {
    max-width: 190px;
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
  }
}
@media screen and (max-width: 1002px) {
  .hero {
    margin-top: 30px;
    text-align: center;
    padding-left: 0%;
    
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;
    }  
    &__box-img {
      margin-top: 1em;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 479px) {
  .hero {
    &__text {
      width: 100%;
      text-align: center;
    }
    // &__footer {
    //   // width: 100%;
    // }
    &__img{
      width: 100%;
    }
    
    &__footer{
      display: flex;
      flex-direction: column;
    }
  }
  h1{
    font-size: 30px;
  }
}

