.oval {
  &__content {
    display: flex;
    background: url(../img/oval/Oval.png) center;
    max-width: 1250px;
    margin: 0 auto;
  }

  &__main {
    max-width: 1250px;
    margin: 0 auto;
  }
  &__text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
