.super {
  padding-bottom: 30px;
  background: url(../img/superpower/semi-oval.svg) center center / cover;
  &__content {
    position: relative;
    padding-top: 48px;
  }
  &__divide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1400px;
  }
  
  &__title {
    @include subtitle();
   
  }
  &__boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    text-align: center;
  }

  &__subtitle {
    @include name();
    padding-top: 37px;
  }
  &__des {
    @include page();
    width: 230px;
  }
  &__icon {
    padding-top: 59px;
  }
  &__img {
    max-width: 500px;
    max-width: 100%;
  }
  &__btn-content {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  &__btn {
    background-color: rgb(255, 153, 0);
    margin-top: 62px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 153, 0);
    border-image: initial;
    padding: 26px 28px;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
      transform: translateY(-0.5em);
    }
  }
}
  
@media screen and (max-width: 1000px) {
  .super {
    &__content{
      background: none;
    }
    &__img {
      max-width: 500px;
      max-width: 100%;
    }

    &__boxes {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &__divide {
      text-align: center;
    }
  }
}
@media screen and (max-width: 500px) {
  .super {
    background:none;
    &__content{
      text-align: center
    
    }
    &__boxes {
      text-align: center;
    }
    &__divide{
      text-align: center;
    }
  }
}
