.super {
  &__content {
    position: relative;
    padding-top: 48px;
  }
  &__divide {
    display: flex;
    flex-direction: column;
  }
  &__span {
    padding-left: 70px;
  }
  &__title {
    @include subtitle();
    padding-left: 390px;
  }
  &__boxes {
    display: flex;
  }
  &__box {
    padding-left: 88px;
  }
  &__subtitle {
    @include name();
    padding-top: 37px;
  }
  &__des {
    @include page();
    width: 230px;
  }
  &__icon {
    padding-top: 59px;
  }
  &__btn-content {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  &__btn {
    @include btn();
  }
}
